/* TODO: static typing */

.editor {
  width: 100%;
  height: 2.0em;
}

// .editor::before {
//   content: attr(data-placeholder);
//   color: #888;
// }

.lessonSelector {
  width: 800px;
}

.lessonSelector::backdrop {
  background: rgb(0 0 0 / 50%);
}

.footer {
  color: #888;
}
