/* TODO: static typing */

.main {
  flex: 1;
}

.lessonSelector {
  width: 800px;
}

.lessonSelector::backdrop {
  background: rgb(0 0 0 / 50%);
}

.header {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

.footer {
  color: #888;
  text-align: center;
}

.checkboxContainer {
  gap: 10px;
}
