/* TODO: static typing */

// TODO: extend combobox's input instead
.editor {
  width: 100%;
  // height: 2.0em;

  // Shared theme with Combobox:
  box-sizing: border-box;
  padding-left: 0.875rem;
  padding-right: calc(0.5rem + 1.5rem);
  margin: 0;
  border: 1px solid var(--color-gray-200);
  height: 2.5rem;
  border-radius: 0.375rem;
  font-family: inherit;
  font-size: 1rem;
  background-color: canvas;
  color: var(--color-gray-900);

  &:focus {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }
  box-sizing: border-box;
  padding-left: 0.875rem;
  padding-right: calc(0.5rem + 1.5rem);
  margin: 0;
  border: 1px solid var(--color-gray-200);
  height: 2.5rem;
  border-radius: 0.375rem;
  font-family: inherit;
  font-size: 1rem;
  background-color: canvas;
  color: var(--color-gray-900);

  &:focus {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }
}

// .editor::before {
//   content: attr(data-placeholder);
//   color: #888;
// }

.lessonSelector {
  width: 800px;
}

.lessonSelector::backdrop {
  background: rgb(0 0 0 / 50%);
}

.footer {
  color: #888;
}
