.stenoViz {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.stenoVizStroke {
  display: inline-grid;
  grid-template-rows: repeat(3, 32px);
  grid-template-columns: repeat(12, 32px);
  gap: 4px;
  position: relative;
}

.stenoVizRect, .stenoVizEmpty {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}

.stenoVizRect {
  text-align: center;
  border: 1px solid var(--color-gray-900);
  border-radius: 3px;
}

.stenoVizRectPressed {
  background: #4a90e2;
}

.stenoVizFat {
  width: 32px;
  height: 66px; /* 32 + 4 + 32 */
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
